 <p><%= image_tag @comment.image.url, size: "150x150" if @comment.image? %></p>
 <p>
    <strong>コメント:</strong>
    <%= comment.comment %>
  </p>
<p>
  <%= link_to '削除', [comment.post, comment],class: 'btn btn-outline-danger',
              method: :delete,
              data: { confirm: "本当に削除してもよろしいですか？" } %>
</p>
  