/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .container{
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}


h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 1.8em;
  letter-spacing: -1px;
  font-family: HiraKakuProN-W6;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #444;
}

p {
  font-size: 1.3em;
  line-height: 1.7em;
}
p2{
    padding-left: 90px;
    letter-spacing: 3px;
    font-family: "Comic Sans MS";
    
}
.main{
    padding-top:10px;
    padding-bottom:20px;
    background-color:#CCC;
}

p btn{
    transition: .4s;
    color:black;
    float: left;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}
